---
import Meta from "@components/ui/Meta.astro";
import LanguageFlag from "@components/ui/LanguageFlag.astro";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "src/lib/utils";

export interface Props {
  talk: CollectionEntry<"talks">;
}

const { talk } = Astro.props;

const formattedDate = formatDate(talk.data.date);
---

<Meta>
  <div class="mr-1">
    <LanguageFlag language={talk.data.language} />
  </div>
  {formattedDate}
</Meta>
