---
import Card from "@components/ui/Card.astro";
import Link from "@components/ui/Link.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { name, url, description } = Astro.props.project.data;
---

<Card>
  <Link href={url} target="_blank">
    <h3 class="font-sans text-lg">{name}</h3>
  </Link>

  <p class="text-sm mt-1 font-serif font-sm">{description}</p>
</Card>
