---
import LinkedCard from "@components/ui/LinkedCard.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { name, url, description } = Astro.props.project.data;
---

<LinkedCard href={url} target="_blank">
  <h3 slot="title">{name}</h3>
  <p class="text-sm mt-1 font-serif font-sm">{description}</p>
</LinkedCard>
