---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ArrowLink from "@components/ui/ArrowLink.astro";
import ContentLayout from "@components/content/ContentLayout.astro";

export async function getStaticPaths() {
  const topics = await getCollection("topics");

  return topics.map((topic) => ({
    params: { id: topic.id },
    props: { topic },
  }));
}

const { topic } = Astro.props;
---

<title slot="head">{topic.data.title} | Alessandro Desantis</title>

<Layout>
  <ContentLayout entry={topic}>
    <ArrowLink
      href="/topics"
      arrowDirection="left"
      class="font-sans font-semibold uppercase"
      slot="navigation"
    >
      Topics
    </ArrowLink>
  </ContentLayout>
</Layout>
