---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ArrowLink from "@components/ui/ArrowLink.astro";
import TopicMeta from "@components/content/topics/TopicMeta.astro";
import ContentGrid from "@components/content/grid/ContentGrid.astro";
import { statusFilter, collectionFilter } from "src/lib/filters";
import ContentDetail from "@components/content/ContentDetail.astro";

export async function getStaticPaths() {
  const topics = await getCollection("topics");

  return topics.map((topic) => ({
    params: { id: topic.id },
    props: { topic },
  }));
}

const { topic } = Astro.props;

const filters = await Promise.all([statusFilter(), collectionFilter()]);
---

<title slot="head">{topic.data.title} | Alessandro Desantis</title>

<Layout>
  <ContentDetail entry={topic}>
    <ArrowLink href="/topics" arrowDirection="left" class="font-sans font-semibold uppercase" slot="navigation">
      Topics
    </ArrowLink>

    <TopicMeta content={topic} slot="meta" />
  </ContentDetail>

  <div class="mt-12">
    <hr class="mb-6 border-gray-200" />
    <ContentGrid
      searchParams={{ relatedTo: topic.id, collections: ["essays", "books", "notes", "talks", "recipes"] }}
      itemSize="M"
      filters={filters}
      layoutType="masonry"
    />
  </div>
</Layout>
