---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";
import { createStatusFilterConfig } from "src/lib/garden/filters";

const filters = [createStatusFilterConfig()];
---

<Layout>
  <title slot="head">Topics | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Topics</span>
    <span slot="subheading">
      {sections.topics.description}
    </span>
  </Hero>

  <GardenEntriesGrid entryTypes={["topics"]} itemSize="M" filters={filters} />
</Layout>
