
@import url('https://fonts.googleapis.com/css?family=Montserrat|Lora');

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  font-family: 'Lora', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  max-width: 150px;
  margin-bottom: 30px;
}

.container {
  height: 100%;
  display: flex;
}

.content {
  max-width: 800px;
  padding: 20px;
}

pre a {
  color: #666666;
}

pre a:hover {
  text-decoration: none;
}
