---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const articles = await getCollection("articles", ({ data }) => data.url);

  return articles.map((article) => ({
    params: { id: article.id },
    props: { articleUrl: article.data.url },
  }));
}

const { articleUrl } = Astro.props;

return Astro.redirect(articleUrl, 301);
---

{/* This is only needed to prevent an unused variable error in `astro check` */}
<p>Redirecting to <a href={articleUrl}>{articleUrl}</a>...</p>
