---
import ArticleCard from "@components/articles/ArticleCard.astro";
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import { getSortedArticles } from "src/lib/content/articles";

const articles = (await getSortedArticles()).slice(0, 20);
---

<Layout>
  <title slot="head">Articles | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Articles</span>
    <span slot="subheading">
      {sections.articles.description}
    </span>
  </Hero>

  <div class="grid lg:grid-cols-2 gap-8">
    {articles.map((article) => <ArticleCard article={article} />)}
  </div>
</Layout>
