---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getEntries, type GardenEntry } from "src/lib/garden/entries";
import sections from "src/data/sections.json";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";
import type { FilterConfig } from "src/lib/garden/filters";

const recipes = await getEntries(["recipes"]);

const filters: FilterConfig[] = [
  {
    category: "cuisine",
    label: "Cuisine",
    items: [
      { id: "tex-mex", label: "ðŸŒ® Tex-Mex" },
      { id: "mediterranean", label: "ðŸ«’ Mediterranean" },
      { id: "bbq", label: "ðŸ– BBQ" },
      { id: "asian", label: "ðŸœ Asian" },
      { id: "indian", label: "ðŸ› Indian" },
      { id: "american", label: "ðŸ” American" },
    ],
    extractor: (entry: GardenEntry): string => {
      if (entry.collection === "recipes" && entry.data.cuisine) {
        return entry.data.cuisine;
      }

      return "";
    },
  },
  {
    category: "diet",
    label: "Diet",
    items: [
      { id: "omnivore", label: "ðŸ¥© Omnivore" },
      { id: "vegetarian", label: "ðŸ¥¬ Vegetarian" },
      { id: "vegan", label: "ðŸŒ± Vegan" },
      { id: "pescatarian", label: "ðŸŸ Pescatarian" },
    ],
    extractor: (entry: GardenEntry): string[] => {
      if (entry.collection === "recipes") {
        return entry.data.diets;
      }

      return [];
    },
  },
  {
    category: "recipe-type",
    label: "Course",
    items: [
      { id: "starter", label: "ðŸ¥— Starter" },
      { id: "first-course", label: "ðŸ First Course" },
      { id: "main-course", label: "ðŸ½ï¸ Main Course" },
      { id: "single-dish", label: "ðŸ² Single Dish" },
      { id: "sauce", label: "ðŸ¯ Sauce" },
      { id: "side", label: "ðŸ¥” Side" },
      { id: "dessert", label: "ðŸ° Dessert" },
      { id: "other", label: "ðŸ´ Other" },
    ],
    extractor: (entry: GardenEntry): string => {
      if (entry.collection === "recipes" && entry.data.type) {
        return entry.data.type;
      }

      return "";
    },
  },
];
---

<Layout>
  <title slot="head">Recipes | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Recipes</span>
    <span slot="subheading">
      {sections.recipes.description}
    </span>
  </Hero>

  <GardenEntriesGrid items={recipes} itemSize="M" filters={filters} />
</Layout>
