---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArrowLink from "@components/ui/ArrowLink.astro";
import ContentLayout from "@components/content/ContentLayout.astro";
import ContentMeta from "@components/content/ContentMeta.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { id: note.id },
    props: { note },
  }));
}

const { note } = Astro.props;
---

<title slot="head">{note.data.title} | Alessandro Desantis</title>

<Layout>
  <ContentLayout entry={note}>
    <ArrowLink
      href="/notes"
      arrowDirection="left"
      class="font-sans font-semibold uppercase"
      slot="navigation"
    >
      Notes
    </ArrowLink>

    <ContentMeta content={note} slot="meta" />
  </ContentLayout>
</Layout>
