---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArrowLink from "@components/ui/ArrowLink.astro";
import GardenEntryDetail from "@components/garden/GardenEntryDetail.astro";
import NoteMeta from "@components/garden/notes/NoteMeta.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { id: note.id },
    props: { note },
  }));
}

const { note } = Astro.props;
---

<title slot="head">{note.data.title} | Alessandro Desantis</title>

<Layout>
  <GardenEntryDetail entry={note}>
    <ArrowLink href="/notes" arrowDirection="left" class="font-sans font-semibold uppercase" slot="navigation">
      Notes
    </ArrowLink>

    <NoteMeta content={note} slot="meta" />
  </GardenEntryDetail>
</Layout>
