---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getEntries } from "src/lib/garden/entries";
import sections from "src/data/sections.json";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";
import { createStatusFilterConfig, createTopicFilterConfig } from "src/lib/garden/filters";

const notes = await getEntries(["notes"]);

const filters = [createStatusFilterConfig(), await createTopicFilterConfig()];
---

<Layout>
  <title slot="head">Notes | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Notes</span>
    <span slot="subheading">
      {sections.notes.description}
    </span>
  </Hero>

  <GardenEntriesGrid items={notes} itemSize="M" filters={filters} />
</Layout>
