---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getSortedNotes } from "src/lib/garden/notes";
import sections from "src/data/sections.json";
import ContentGrid from "@components/garden/GardenEntriesGrid.astro";

const notes = await getSortedNotes();
---

<Layout>
  <title slot="head">Notes | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Notes</span>
    <span slot="subheading">
      {sections.notes.description}
    </span>
  </Hero>

  <ContentGrid items={notes} itemSize="M" />
</Layout>
