---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import GardenGrid from "@components/garden/entries-grid/GardenGrid.astro";
import { createStatusFilterConfig, createTopicFilterConfig } from "src/lib/garden/filters";
---

<Layout>
  <title slot="head">Notes | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Notes</span>
    <span slot="subheading">
      {sections.notes.description}
    </span>
  </Hero>

  <GardenGrid
    searchParams={{ collections: ["notes"] }}
    itemSize="M"
    filters={[createStatusFilterConfig(), await createTopicFilterConfig()]}
  />
</Layout>
