---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import ContentGrid from "@components/content/grid/ContentGrid.astro";
import { statusFilter, topicFilter } from "src/lib/filters";
---

<Layout>
  <title slot="head">Notes | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Notes</span>
    <span slot="subheading">
      {sections.notes.description}
    </span>
  </Hero>

  <ContentGrid
    searchParams={{ collections: ["notes"] }}
    itemSize="M"
    filters={await Promise.all([statusFilter(), topicFilter()])}
  />
</Layout>
