---
import Card from "@components/ui/Card.astro";
import Link from "@components/ui/Link.astro";
import EssayHints from "@components/essays/EssayHints.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  essay: CollectionEntry<"essays">;
}

const { essay } = Astro.props;
---

<Card>
  <Link href={`/essays/${essay.id}`}>
    <h3 class="text-lg font-sans">{essay.data.title}</h3>
  </Link>

  <EssayHints essay={essay} />

  <p class="mt-2 text-sm font-serif font-sm">
    {essay.data.excerpt}
  </p>
</Card>
