---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import { getEntries } from "src/lib/garden/entries";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";

const talks = await getEntries(["talks"]);
---

<Layout>
  <title slot="head">Talks | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Talks</span>
    <span slot="subheading">
      {sections.talks.description}
    </span>
  </Hero>

  <GardenEntriesGrid items={talks} itemSize="L" showTopicFilters />
</Layout>
