---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import ContentGrid from "@components/content/grid/ContentGrid.astro";
import { createTopicFilterConfig } from "src/lib/garden/filters";
---

<Layout>
  <title slot="head">Talks | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Talks</span>
    <span slot="subheading">
      {sections.talks.description}
    </span>
  </Hero>

  <ContentGrid searchParams={{ collections: ["talks"] }} itemSize="L" filters={[await createTopicFilterConfig()]} />
</Layout>
