---
import type { ReferenceDataEntry } from "astro:content";
import { getCollection } from "astro:content";
export interface Props {
  topics?: ReferenceDataEntry<"topics", string>[];
}

const { topics } = Astro.props;
const allTopics = await getCollection("topics");
---

{
  topics && topics.length > 0 && (
    <>
      <span class="mx-0.5">•</span>
      <span>
        {topics
          .map((topic) => allTopics.find((t) => t.id === topic.id)?.data.title)
          .join(", ")}
      </span>
    </>
  )
}
