---
import ContentStatus from "@components/garden/GardenEntryStatus.astro";
import RelativeDate from "@components/ui/RelativeDate.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

export interface Props {
  content: CollectionEntry<"topics">;
  compact?: boolean;
}

const { content, compact = false } = Astro.props;
const { remarkPluginFrontmatter } = await render(content);
---

<div class="text-sm text-stone-500 font-sans">
  <span><ContentStatus status={content.data.status} /></span>

  <span class="mx-0.5">•</span>

  <span>Revisited <RelativeDate date={content.data.updatedAt} /></span>

  {
    !compact && (
      <>
        <span class="mx-0.5">•</span>
        <span>
          Planted <RelativeDate date={content.data.createdAt} />
        </span>
      </>
    )
  }

  {
    !compact && (
      <>
        <span class="mx-0.5">•</span>
        <span>
          {remarkPluginFrontmatter.readingTime} min
          {remarkPluginFrontmatter.readingTime != 1 ? "s" : ""} read
        </span>
      </>
    )
  }
</div>
