---
import Link from "@components/ui/Link.astro";
import type { CollectionEntry } from "astro:content";
import BookCover from "@components/books/BookCover.astro";
import BookMeta from "@components/books/BookMeta.astro";

export interface Props {
  book: CollectionEntry<"books">;
}

const { book } = Astro.props;
---

<div>
  <Link href={`/books/${book.id}`}>
    <BookCover book={book} class="max-h-[400px] w-auto" height="800" />

    <h3 class="mt-2 text-lg font-sans">{book.data.title}</h3>
  </Link>

  <BookMeta book={book} />
</div>
