---
import type { CollectionEntry } from "astro:content";
import BookCover from "@components/books/BookCover.astro";
import BookMeta from "@components/books/BookMeta.astro";
import LinkedCard from "@components/ui/LinkedCard.astro";

export interface Props {
  book: CollectionEntry<"books">;
}

const { book } = Astro.props;
---

<LinkedCard href={`/books/${book.id}`}>
  <div slot="cover">
    <BookCover book={book} class="object-cover object-top w-full" />
  </div>

  <h3 class="mt-2 text-lg font-sans" slot="title">
    {book.data.title}
  </h3>

  <BookMeta book={book} />
</LinkedCard>
