---
import Layout from "@layouts/Layout.astro";
import Prose from "@components/ui/Prose.astro";
import Toc from "@components/ui/Toc.astro";
import { getMdxComponents } from "src/lib/rendering";
import SidebarLayout from "@layouts/SidebarLayout.astro";

import { Content, getHeadings } from "src/content/about.mdx";
---

<title slot="head">About | Alessandro Desantis</title>

<Layout>
  <SidebarLayout>
    <Fragment slot="title"> About </Fragment>

    <Toc headings={getHeadings()} title="About" slot="sidebar" />

    <Prose>
      <Content components={getMdxComponents()} />
    </Prose>
  </SidebarLayout>
</Layout>
