---
import BookCard from "@components/books/BookCard.astro";
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getSortedBooks } from "src/lib/content/books";

const books = await getSortedBooks();
---

<Layout>
  <title slot="head">Books | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Books</span>
    <span slot="subheading">
      Books I have read that have shaped my worldview.
    </span>
  </Hero>

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8">
    {books.map((book) => <BookCard book={book} />)}
  </div>
</Layout>
