---
import Layout from "@layouts/Layout.astro";
import Prose from "@components/ui/Prose.astro";
import { getMdxComponents } from "src/lib/content";

import { Content } from "src/content/colophon.mdx";
---

<Layout>
  <title slot="head">Colophon | Alessandro Desantis</title>

  <Prose>
    <Content components={getMdxComponents()} />
  </Prose>
</Layout>
