---
import EssayCard from "@components/essays/EssayCard.astro";
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const essays = await getCollection("essays");
---

<Layout>
  <title slot="head">Essays | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Essays</span>
    <span slot="subheading"
      >Long-form musings on life, commerce, strategy, and anything that catches
      my attention.</span
    >
  </Hero>

  <div class="grid lg:grid-cols-2 gap-8">
    {essays.map((essay) => <EssayCard essay={essay} />)}
  </div>
</Layout>
