---
import Link from "@components/ui/Link.astro";
import SectionHeading from "@components/ui/sections/SectionHeading.astro";
import Section from "@components/ui/sections/Section.astro";
import ProjectCard from "@components/projects/ProjectCard.astro";
import EssayCard from "@components/essays/EssayCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArrowLink from "@components/ui/ArrowLink.astro";
import BookCard from "@components/books/BookCard.astro";
import { getSortedBooks } from "src/lib/content/books";
import { getSortedNotes } from "src/lib/content/notes";
import NoteCard from "@components/notes/NoteCard.astro";

const featuredProjects = await getCollection(
  "projects",
  (project) => project.data.featured
);

const essays = await getCollection("essays");
const notes = (await getSortedNotes()).slice(0, 6);
const books = (await getSortedBooks()).slice(0, 6);
---

<Layout>
  <title slot="head">Alessandro Desantis</title>

  <div class="space-y-12">
    <div class="space-y-6">
      <p class="font-serif text-3xl lg:text-5xl">
        <span class="animate-wave inline-block">👋</span>, I’m <span
          class="font-bold">Alessandro</span
        >&mdash;a writer, engineer, and strategist based in Rome, Italy.
      </p>
      <p class="text-stone-700 font-serif">
        Currently, I am the Chief Strategy Officer at
        <Link href="https://nebulab.com">Nebulab</Link>.
      </p>
    </div>

    <hr />

    <Section>
      <div slot="heading">
        <SectionHeading
          title="Essays"
          subtitle="Long-form musings on life, commerce, strategy, and anything that catches my attention."
        />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/essays" arrowDirection="right">
            View all
          </ArrowLink>
        </div>
      </div>

      <div class="space-y-4">
        {essays.map((essay) => <EssayCard essay={essay} />)}
      </div>
    </Section>

    <Section>
      <div slot="heading">
        <SectionHeading
          title="Notes"
          subtitle="Working theories and reflections in various stages of maturation."
        />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/notes" arrowDirection="right">
            View all
          </ArrowLink>
        </div>
      </div>

      <div class="grid lg:grid-cols-2 gap-4">
        {notes.map((note) => <NoteCard note={note} />)}
      </div>
    </Section>

    <Section>
      <div slot="heading">
        <SectionHeading
          title="Books"
          subtitle="Books I have read that have shaped my worldview."
        />

        <div class="mt-2 font-sans">
          <ArrowLink class="text-sm" href="/books" arrowDirection="right">
            View all
          </ArrowLink>
        </div>
      </div>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {books.map((book) => <BookCard book={book} />)}
      </div>
    </Section>

    <Section>
      <div slot="heading">
        <SectionHeading
          title="Software"
          subtitle="Over the years, I’ve authored a few open source projects for various purposes."
        />

        <div class="mt-2 font-sans">
          <ArrowLink
            class="text-sm"
            href="https://github.com/aldesantis"
            arrowDirection="right"
          >
            View all
          </ArrowLink>
        </div>
      </div>

      <div>
        <div class="grid sm:grid-cols-2 gap-4">
          {featuredProjects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </Section>
  </div>
</Layout>
