---
import Link from "../components/typography/Link.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const featuredProjects = await getCollection(
  "projects",
  (project) => project.data.featured
);
---

<Layout>
  <div class="space-y-6">
    <div class="space-y-6">
      <p class="font-serif text-5xl leading-[1.1]">
        <span class="animate-wave inline-block">👋</span>, I’m <span
          class="font-bold">Alessandro</span
        >&mdash;a writer, engineer, and strategist based in Rome, Italy.
      </p>
      <p class="text-stone-700 font-serif">
        Currently, I am the Chief Strategy Officer at <Link
          href="https://nebulab.com">Nebulab</Link
        >.
      </p>
    </div>

    <hr />

    <div class="grid grid-cols-3 gap-8">
      <div>
        <h2 class="font-bold text-xl">Open source</h2>
        <p class="mt-1 text-sm text-stone-700 italic">
          While I don’t code for a living anymore, I’ve authored a few open
          source projects over the years&mdash;some of them are still
          interesting today.
        </p>
      </div>

      <div class="col-span-2">
        <div class="grid grid-cols-2 gap-4">
          {featuredProjects.map((project) => <Project project={project} />)}
        </div>
      </div>
    </div>
  </div>
</Layout>
