---
import Link from "@components/ui/Link.astro";
import SectionHeading from "@components/ui/sections/SectionHeading.astro";
import Section from "@components/ui/sections/Section.astro";
import ProjectCard from "@components/projects/ProjectCard.astro";
import EssayCard from "@components/essays/EssayCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArrowLink from "@components/ui/ArrowLink.astro";

const featuredProjects = await getCollection(
  "projects",
  (project) => project.data.featured
);

const essays = await getCollection("essays");
---

<Layout>
  <title slot="head">Alessandro Desantis</title>

  <div class="space-y-12">
    <div class="space-y-6">
      <p class="font-serif text-3xl lg:text-5xl leading-[1.1]">
        <span class="animate-wave inline-block">👋</span>, I’m <span
          class="font-bold">Alessandro</span
        >&mdash;a writer, engineer, and strategist based in Rome, Italy.
      </p>
      <p class="text-stone-700 font-serif">
        Currently, I am the Chief Strategy Officer at
        <Link href="https://nebulab.com">Nebulab</Link>.
      </p>
    </div>

    <hr />

    <Section>
      <div slot="heading" class="font-sans">
        <SectionHeading
          title="Open source"
          subtitle="Over the years, I’ve authored a few open source projects for professional and personal use."
        />

        <div class="mt-2">
          <ArrowLink
            class="text-sm"
            href="https://github.com/aldesantis"
            arrowDirection="right"
          >
            View all
          </ArrowLink>
        </div>
      </div>

      <div>
        <div class="grid grid-cols-2 gap-4">
          {featuredProjects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </Section>

    <Section>
      <div slot="heading" class="font-sans">
        <SectionHeading
          title="Essays"
          subtitle="Long-form musings on life, commerce, strategy, and anything that catches my attention."
        />

        <div class="mt-2">
          <ArrowLink class="text-sm" href="/essays" arrowDirection="right">
            View all
          </ArrowLink>
        </div>
      </div>

      <div class="space-y-4">
        {essays.map((essay) => <EssayCard essay={essay} />)}
      </div>
    </Section>
  </div>
</Layout>
