---
import TableOfContents from "@components/ui/Toc.astro";
import ContentLinks from "@components/garden/GardenEntryLinks.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getGardenEntryLinks } from "src/lib/garden";

export interface Props {
  entry: CollectionEntry<"essays" | "notes" | "nows" | "books" | "articles" | "topics">;
}

const { entry } = Astro.props;
const { headings } = await render(entry);
const { outboundLinks, inboundLinks } = getGardenEntryLinks(entry.id);
---

<div class="space-y-4">
  <slot />

  <TableOfContents headings={headings} title={entry.data.title} />
  <ContentLinks outboundLinks={outboundLinks} inboundLinks={inboundLinks} />
</div>
