---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArrowLink from "@components/ui/ArrowLink.astro";
import ContentLayout from "@components/content/ContentLayout.astro";
import EssayMeta from "@components/essays/EssayMeta.astro";

export async function getStaticPaths() {
  const essays = await getCollection("essays");

  return essays.map((essay) => ({
    params: { id: essay.id },
    props: { essay },
  }));
}

const { essay } = Astro.props;
---

<title slot="head">{essay.data.title} | Alessandro Desantis</title>

<Layout>
  <ContentLayout entry={essay}>
    <ArrowLink
      href="/essays"
      arrowDirection="left"
      class="font-sans font-semibold uppercase"
      slot="navigation"
    >
      Essays
    </ArrowLink>

    <EssayMeta content={essay} slot="meta" />
  </ContentLayout>
</Layout>
