---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";
import { createTopicFilterConfig } from "src/lib/garden/filters";

const filters = [await createTopicFilterConfig()];
---

<Layout>
  <title slot="head">Essays | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Essays</span>
    <span slot="subheading">
      {sections.essays.description}
    </span>
  </Hero>

  <GardenEntriesGrid entryTypes={["essays"]} itemSize="L" filters={filters} />
</Layout>
