---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import sections from "src/data/sections.json";
import { getEntries } from "src/lib/garden/entries";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";

const essays = await getEntries(["essays"]);
---

<Layout>
  <title slot="head">Essays | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Essays</span>
    <span slot="subheading">
      {sections.essays.description}
    </span>
  </Hero>

  <GardenEntriesGrid items={essays} itemSize="L" showTopicFilters />
</Layout>
