---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getEntries } from "src/lib/garden/garden";
import sections from "src/data/sections.json";
import ContentGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";

const books = await getEntries(["books"]);
---

<Layout>
  <title slot="head">Books | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">Books</span>
    <span slot="subheading">
      {sections.books.description}
    </span>
  </Hero>

  <ContentGrid items={books} itemSize="S" showTopicFilters />
</Layout>
