---
import Meta from "@components/ui/Meta.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import NoteStatus from "./NoteStatus.astro";

export interface Props {
  note: CollectionEntry<"notes">;
}

const { note } = Astro.props;
const { remarkPluginFrontmatter } = await render(note);
---

<Meta>
  <NoteStatus note={note} />

  <span>·</span>

  <span>
    {remarkPluginFrontmatter.readingTime}
    min{remarkPluginFrontmatter.readingTime != 1 && "s"}
  </span>
</Meta>
