---
import Card from "@components/ui/Card.astro";
import Link from "@components/ui/Link.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  notes: CollectionEntry<"notes">[];
}

const { notes } = Astro.props;
---

<Card>
  <ul>
    {
      notes.map((note) => (
        <li class="font-sans text-lg">
          <Link href={`/notes/${note.id}`}>{note.data.title}</Link>
        </li>
      ))
    }
  </ul>
</Card>
