---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a">;

const { class: originalClass, ...props } = Astro.props;
---

<a
  {...props}
  class:list={[
    "text-orange-400 hover:text-orange-700 transition-all",
    originalClass,
  ]}
>
  <slot />
</a>
