---
import ChevronDownIcon from "@components/ui/icons/ChevronDownIcon.astro";
import Link from "@components/ui/Link.astro";

interface Props {
  label: string;
  href?: string;
  active?: boolean;
}

const { label, href = "#", active = false } = Astro.props;
---

<div
  data-controller="dropdown"
  class="relative inline-block text-left"
>
  <div class="flex items-center gap-1">
    <Link
      href={href}
      variant="secondary"
      active={active}
    >
      {label}
    </Link>
    <Link
      href="#"
      variant="secondary"
      data-dropdown-target="button"
      data-action="click->dropdown#toggle"
      class="dropdown-button cursor-pointer p-1 transform-gpu hover:scale-150 active:scale-95 transition-all duration-200 ease-in-out"
      aria-label="Toggle dropdown menu"
      aria-expanded="false"
      active={active}
    >
      <ChevronDownIcon />
    </Link>
  </div>

  <div
    data-dropdown-target="menu"
    class="dropdown-menu absolute right-0 z-10 mt-2 min-w-32 origin-top-right rounded-md bg-zinc-50 shadow-md ring-1 ring-black/5 hidden opacity-0 scale-95 transition-all ease-out duration-100"
  >
    <div class="py-1">
      <slot />
    </div>
  </div>
</div>

<script>
  import DropdownController from "./dropdown-controller";
  import { Application } from "@hotwired/stimulus";

  const application = Application.start();
  application.register("dropdown", DropdownController);
</script>
