---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<div data-controller="dropdown" class="relative inline-block text-left">
  <button
    type="button"
    data-dropdown-target="button"
    data-action="click->dropdown#toggle"
    aria-haspopup="true"
    aria-expanded="false"
    class="dropdown-button inline-flex w-full hover:text-orange-700 cursor-pointer"
  >
    {label}
    &DownArrow;
  </button>

  <div
    data-dropdown-target="menu"
    class="dropdown-menu absolute right-0 z-10 mt-2 min-w-32 origin-top-right rounded-md bg-zinc-50 shadow-md ring-1 ring-black/5 hidden opacity-0 scale-95 transition-all ease-out duration-100"
  >
    <div class="py-1">
      <slot />
    </div>
  </div>
</div>

<script>
  import DropdownController from "./dropdown-controller";
  import { Application } from "@hotwired/stimulus";

  const application = Application.start();
  application.register("dropdown", DropdownController);
</script>
