---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getEntries } from "src/lib/garden/entries";
import GardenEntriesGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";
import { createStatusFilterConfig, createTopicFilterConfig, createTypeFilterConfig } from "src/lib/garden/filters";

const content = await getEntries(["essays", "books", "notes", "talks"]);

const filters = [createStatusFilterConfig(), await createTopicFilterConfig(), createTypeFilterConfig()];
---

<Layout>
  <title slot="head">The Garden | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">The Garden</span>
    <span slot="subheading"> A collection of everything I'm thinking about, reading, and writing. </span>
  </Hero>

  <GardenEntriesGrid items={content} itemSize="M" filters={filters} layoutType="masonry" />
</Layout>
