---
import Hero from "@components/ui/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getEntries, GARDEN_CONTENT_TYPE_IDS } from "src/lib/garden/entries";
import ContentGrid from "@components/garden/entries-grid/GardenEntriesGrid.astro";

const content = await getEntries([...GARDEN_CONTENT_TYPE_IDS]);
---

<Layout>
  <title slot="head">The Garden | Alessandro Desantis</title>

  <Hero>
    <span slot="heading">The Garden</span>
    <span slot="subheading"> A collection of everything I'm thinking about, reading, and writing. </span>
  </Hero>

  <ContentGrid items={content} itemSize="M" showTopicFilters showStatusFilters showTypeFilters />
</Layout>
