---
import Navbar from "@components/ui/navbar/Navbar.astro";
import Footer from "@components/ui/Footer.astro";
import CommandPalette from "@components/ui/command-palette/CommandPalette.astro";
import { Font } from "astro:assets";

import "@styles/global.css";
---

<!doctype html>
<html lang="en" class="[font-size:20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <Font cssVariable="--font-domine" preload />
    <Font cssVariable="--font-source-sans" preload />

    <slot name="head" />
  </head>

  <body class="bg-zinc-50">
    <Navbar />

    <div class="container mt-4 sm:mt-8">
      <slot />
    </div>

    <Footer />
    <CommandPalette />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-domine), system-ui, sans-serif;
  }
</style>
