---
import Navbar from "@components/ui/Navbar.astro";
import Footer from "@components/ui/Footer.astro";
import CommandPalette from "@components/ui/command-palette/CommandPalette.astro";
---

<!doctype html>
<html lang="en" class="[font-size:20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    <slot name="head" />
  </head>

  <body class="bg-zinc-50">
    <Navbar />

    <div class="container mt-12">
      <slot />
    </div>

    <Footer />
    <CommandPalette />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Domine", system-ui, sans-serif;
  }
</style>
