---
import LinkedCard from "@components/ui/LinkedCard.astro";
import EssayMeta from "@components/garden/essays/EssayMeta.astro";
import type { CollectionEntry } from "astro:content";
import { getFirstParagraph, renderToString } from "src/lib/rendering";

export interface Props {
  essay: CollectionEntry<"essays">;
}

const { essay } = Astro.props;

const renderedEssay = await renderToString(essay);
---

<LinkedCard href={`/essays/${essay.id}`}>
  <h3 slot="title">{essay.data.title}</h3>

  <EssayMeta content={essay} compact />

  <div class="mt-2 text-sm font-serif font-sm line-clamp-3">
    <Fragment set:html={getFirstParagraph(renderedEssay)} />
  </div>
</LinkedCard>
