---
import type { ComponentProps } from "astro/types";
import Link from "@components/ui/Link.astro";

interface Props extends ComponentProps<typeof Link> {
  arrowDirection: "left" | "right";
}

const { arrowDirection, class: originalClass, ...props } = Astro.props;
---

<Link {...props} class:list={["group", originalClass]}>
  <span
    class:list={[
      "inline-flex items-center transition-transform duration-200",
      arrowDirection === "left" ? "-translate-x-6 group-hover:translate-x-0" : "translate-x-0",
    ]}
  >
    {
      arrowDirection === "left" && (
        <span class="mr-2 opacity-0 transition-opacity duration-200 group-hover:opacity-100">←</span>
      )
    }

    <slot />

    {
      arrowDirection === "right" && (
        <span class="ml-2 opacity-0 transition-[opacity,transform] duration-200 group-hover:opacity-100 -translate-x-6 group-hover:translate-x-0">
          →
        </span>
      )
    }
  </span>
</Link>
