---
interface Props {
  class?: string;
}

const { class: originalClass } = Astro.props;
---

<div
  class:list={[
    "bg-white rounded overflow-hidden flex flex-col group",
    originalClass,
  ]}
>
  <div class="w-full">
    <slot name="cover" />
  </div>

  <div class="p-4">
    <slot />
  </div>
</div>
