---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"input">;

const props = Astro.props;
---

<div class="relative flex h-4 w-4 items-center justify-center">
  <input
    {...props}
    type="checkbox"
    class="peer h-4 w-4 appearance-none rounded-sm border-2 border-gray-300 bg-white checked:border-orange-600 checked:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500"
  />
  <svg
    fill="none"
    viewBox="0 0 14 14"
    class="pointer-events-none absolute h-3 w-3 stroke-white opacity-0 peer-checked:opacity-100"
  >
    <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
</div>
