---
import ChevronDownIcon from "@components/ui/icons/ChevronDownIcon.astro";

interface Props {
  label: string;
  class?: string;
}

const { label, class: className } = Astro.props;
// Generate a random ID for the collapsible
const randomId = `collapsible-${Math.random().toString(36).substring(2, 10)}`;
---

<div class:list={["collapsible", className]}>
  <input
    type="checkbox"
    id={randomId}
    class="collapsible-checkbox sr-only"
    aria-hidden="true"
  />
  <label
    for={randomId}
    class="collapsible-label flex w-full items-center justify-between border-b border-zinc-200 py-2 cursor-pointer hover:text-zinc-600 transition-colors"
  >
    <span class="text-base font-medium font-sans">{label}</span>
    <ChevronDownIcon />
  </label>
  <div
    class="collapsible-content overflow-hidden transition-all duration-300 ease-in-out max-h-0"
  >
    <div class="py-2">
      <slot />
    </div>
  </div>
</div>

<style>
  .collapsible-checkbox:checked + .collapsible-label svg {
    transform: rotate(180deg);
  }

  .collapsible-content {
    transition-duration: 200ms;
  }

  .collapsible-checkbox:checked ~ .collapsible-content {
    max-height: 1000px;
    overflow-y: scroll;
    transition-duration: 300ms;
  }

  .collapsible-label:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
</style>
