---
import { Icon } from "astro-icon/components";
import Link from "@components/ui/Link.astro";
import { getCollection } from "astro:content";
import { getFooterNavigation, type NavigationLeaf } from "src/lib/navigation";
import NewsletterForm from "@components/ui/NewsletterForm.astro";

const socials = await getCollection("socials");
const footerNavigation = getFooterNavigation();
---

<div class="border-t border-gray-200 mt-8 py-8">
  <div class="flex flex-col md:flex-row container justify-between space-y-8 md:space-y-0">
    <div>
      <NewsletterForm />

      <div class="mt-8 space-x-3 text-2xl flex flex-row">
        {
          socials.map((social) => (
            <Link href={social.data.url} variant="secondary" class="text-stone-400">
              <Icon name={social.data.icon} />
            </Link>
          ))
        }
      </div>

      <div class="text-xs mt-3 text-stone-500 font-sans">© 2025 Alessandro Desantis</div>
    </div>

    <div class="hidden md:grid grid-cols-2 gap-x-16 gap-y-1">
      {
        footerNavigation.map((item: NavigationLeaf) => (
          <div class="text-sm lg:text-base font-sans">
            <Link href={item.href} variant="secondary">
              {item.text}
            </Link>
          </div>
        ))
      }
    </div>
  </div>
</div>
