<div class="mb-8">
  <h1 class="font-sans font-semibold text-3xl lg:text-5xl mb-2">
    <slot name="heading" />
  </h1>

  <p class="font- text-stone-700 lg:text-xl">
    <slot name="subheading" />
  </p>
</div>
