---
import type { ComponentProps } from "astro/types";
import Card from "@components/ui/Card.astro";
import { isInternalUrl } from "src/lib/utils/url";

type Props = ComponentProps<typeof Card> & {
  href: string;
  target?: string;
};

const { href, ...props } = Astro.props;
---

<a
  href={href}
  class="block bg-white rounded overflow-hidden transform transition-transform hover:scale-105"
  target={isInternalUrl(href) ? "_self" : "_blank"}
>
  <Card {...props}>
    <slot name="cover" slot="cover" />
    <div class="text-lg font-sans transition-all text-orange-400 group-hover:text-orange-700" slot="title">
      <slot name="title" />
    </div>
    <slot />
  </Card>
</a>
