---
import Link from "@components/ui/Link.astro";

const currentPath = Astro.url.pathname;

const links = [
  { href: "/", text: "Home", matchPattern: /^\/$/ },
  { href: "/essays", text: "Essays", matchPattern: /^\/essays/ },
  { href: "/now", text: "Now", matchPattern: /^\/now$/ },
];
---

<div class="py-4 border-b mb-8">
  <div class="container">
    <nav class="flex items-center justify-between font-sans">
      <div class="flex flex-1">
        <Link href="/" class="font-semibold" variant="secondary">
          Alessandro Desantis
        </Link>
      </div>

      <div class="flex flex-1 justify-end gap-x-4">
        {
          links.map(({ href, text, matchPattern }) => (
            <Link
              href={href}
              variant="secondary"
              active={!!currentPath.match(matchPattern)}
            >
              {text}
            </Link>
          ))
        }
      </div>
    </nav>
  </div>
</div>
