<div
  class:list={[
    "prose",
    "prose-stone",
    "prose-headings:font-sans prose-headings:mb-2 prose-headings:mt-10 prose-headings:font-semibold",
    "prose-a:no-underline prose-a:font-normal prose-a:transition-all prose-a:text-orange-400 hover:prose-a:text-orange-700",
  ]}
>
  <slot />
</div>
