<div
  class:list={[
    "prose",
    "prose-stone",
    "prose-headings:font-sans prose-headings:mb-2 prose-headings:mt-6 prose-headings:font-semibold",
    "prose-a:no-underline",
    "max-w-full",
  ]}
>
  <slot />
</div>
